header a{
    font-size: 40px;
    font-family: Verdana;
    font-weight: bold;
    text-decoration: none;
    color: #c0c0c0;
}

nav{
    float:right;
    color:#cdcdcd;
}

/*.dashboard{
position:absolute;
border :1px solid red;
margin:40px;
height: 50px;
width: 600px;

}*/