<% if user_signed_in? %>
<h1>  Welcome <%= current_user.name %></h1>
 <nav id="nav">
  <%= link_to "Sign Out", destroy_user_session_path %>
  </nav>
  <%= link_to "See all projects", projects_path %>

  <% else %>
  <%= link_to "Sign In", new_user_session_path %>

  <% end %>